#nav-bar {
  position: fixed;
  background-color: #00a087;
  color: #e8fdff;
  width: 100%;
  height: 80px;
  top: 0;
  padding-left: 2em;
  padding-right: 2em;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  float: left; 
  margin: 10px;
  line-height: 2.5em;
  font-size: 2em;
}